In [1]:
import json
import csv

In [2]:
# Load JSON data from a file
with open('tracks.json', 'r', encoding='utf-8') as json_file:
    data = json.load(json_file)

# Ensure it's a list of records
if isinstance(data, dict):
    
    data = [data]

# Write to CSV
with open('output.csv', 'w', newline='', encoding='utf-8') as csv_file:
    writer = csv.DictWriter(csv_file, fieldnames=data[0].keys())
    writer.writeheader()
    writer.writerows(data)

print("Conversion complete. CSV file saved as 'output.csv'.")

Conversion complete. CSV file saved as 'output.csv'.

In [3]:
import pandas as pd
df_tracks = pd.read_csv('output.csv')
df_tracks

,id,id_artist,title,featured_artists,primary_artist,language,album,swear_IT,swear_EN,swear_IT_words,...,album_release_date,album_type,disc_number,track_number,duration_ms,explicit,popularity,id_album,lyrics,streams@1month
0,TR934808,ART04205421,​polka 2 :-/,"Ernia, Guè",Rosa Chemical,pl,FOREVER AND EVER,13,6,"['cazzo', 'cesso', 'coglioni', 'figa', 'merda'...",...,2021-04-09,album,1.0,3.0,207761.0,True,46.0,ALB115557,"Oplà, ah\nBdope, chiama due b—\n\nMi candidere...",186522.0
1,TR760029,ART04205421,POLKA,Thelonious B.,Rosa Chemical,en,FOREVER AND EVER,9,12,"['cazzo', 'culo', 'frocio', 'puttana', 'sega',...",...,2021-04-09,album,1.0,3.0,207761.0,True,46.0,ALB115557,"Greg Willen, non dormire\n(Brr-poh)\n\nT-T-Tro...",194313.0
2,TR916821,ART04205421,​britney ;-),"MamboLosco, RADICAL",Rosa Chemical,en,FOREVER AND EVER,16,12,"['bastardo', 'cazzo', 'culo', 'merda', 'troia']",...,2021-04-09,album,1.0,1.0,193544.0,True,39.0,ALB115557,"Mothz\nYeah, yeah, yeah-yeah\nBdope, chiama du...",63750.0
3,TR480968,ART04205421,CEO,Taxi B,Rosa Chemical,it,OKAY OKAY !! - EP,8,3,"['cazzo', 'culo', 'fottere', 'merda', 'pompino...",...,2025-05-16,single,1.0,2.0,169000.0,True,47.0,ALB730959,Designer sui vestiti penso di essere un outlet...,41473.0
4,TR585039,ART04205421,LONDRA,Rkomi,Rosa Chemical,en,FOREVER AND EVER,1,0,['cazzo'],...,2020-05-28,album,1.0,8.0,194779.0,True,41.0,ALB436151,"Bdope (Yeah)\n\nVuole solo me, non fare la gel...",30553.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11161,TR434449,ART02733420,Badabum Cha Cha - Gabri Ponte & Paki Rmx (Radi...,NaN,Marracash,it,Badabum Cha Cha (The Remixes),0,0,[],...,2016-07-01,single,1.0,1.0,234374.0,False,57.0,ALB248347,"Qui non va, ma questo badabum cha cha\nTira fo...",4663.0
11162,TR826351,ART02733420,Senza Un Posto Nel Mondo - Alternative Version,Tiziano Ferro,Marracash,it,Senza Un Posto Nel Mondo – Single,1,0,['fortuna'],...,2015-02-10,album,1.0,20.0,248330.0,True,24.0,ALB100713,Odio questa città (città)\nSappiamo che la ver...,5686.0
11163,TR529809,ART02733420,Badabum Cha Cha - Gabri Ponte & Paki Rmx (Exte...,NaN,Marracash,it,Badabum Cha Cha (The Remixes),0,0,[],...,2016-07-01,single,1.0,1.0,234374.0,False,57.0,ALB248347,"Qui non va, ma questo badabum cha cha\nTira fo...",5540.0
11164,TR280904,ART02733420,Tempo,NaN,Marracash,it,NaN,0,1,[],...,2015-02-10,album,1.0,7.0,302173.0,True,37.0,ALB100713,É crudo il suono e questa vibra che ti do\nCru...,4672.0
11165,TR552777,ART02733420,Giufa Cafe,NaN,Marracash,it,NaN,0,0,[],...,2010-01-01,album,1.0,6.0,292000.0,True,30.0,ALB412275,Roccia\nMarracash (Marracash!)\nDedicato per m...,5084.0

In [6]:
df_tracks.columns

Index(['id', 'id_artist', 'title', 'featured_artists', 'primary_artist',
       'language', 'album', 'swear_IT', 'swear_EN', 'swear_IT_words',
       'swear_EN_words', 'year', 'month', 'day', 'n_sentences', 'n_tokens',
       'char_per_tok', 'avg_token_per_clause', 'bpm', 'rolloff', 'flux', 'rms',
       'flatness', 'spectral_complexity', 'pitch', 'loudness', 'album_name',
       'album_release_date', 'album_type', 'disc_number', 'track_number',
       'duration_ms', 'explicit', 'popularity', 'id_album', 'lyrics',
       'streams@1month'],
      dtype='object')

In [ ]:
import numpy as np
# A. Initial Data Structure Inspection
print("\n--- A. Initial Data Structure ---")
print("First 5 rows of the DataFrame:")
print(df_tracks.head())

--- A. Initial Data Structure ---
First 5 rows of the DataFrame:
         id    id_artist         title     featured_artists primary_artist  \
0  TR934808  ART04205421  ​polka 2 :-/           Ernia, Guè  Rosa Chemical
1  TR760029  ART04205421         POLKA        Thelonious B.  Rosa Chemical
2  TR916821  ART04205421  ​britney ;-)  MamboLosco, RADICAL  Rosa Chemical
3  TR480968  ART04205421           CEO               Taxi B  Rosa Chemical
4  TR585039  ART04205421        LONDRA                Rkomi  Rosa Chemical

  language              album  swear_IT  swear_EN  \
0       pl   FOREVER AND EVER        13         6
1       en   FOREVER AND EVER         9        12
2       en   FOREVER AND EVER        16        12
3       it  OKAY OKAY !! - EP         8         3
4       en   FOREVER AND EVER         1         0

                                      swear_IT_words  ... album_release_date  \
0  ['cazzo', 'cesso', 'coglioni', 'figa', 'merda'...  ...         2021-04-09
1  ['cazzo', 'culo', 'frocio', 'puttana', 'sega',...  ...         2021-04-09
2    ['bastardo', 'cazzo', 'culo', 'merda', 'troia']  ...         2021-04-09
3  ['cazzo', 'culo', 'fottere', 'merda', 'pompino...  ...         2025-05-16
4                                          ['cazzo']  ...         2020-05-28

   album_type  disc_number  track_number  duration_ms  explicit  popularity  \
0       album          1.0           3.0     207761.0      True        46.0
1       album          1.0           3.0     207761.0      True        46.0
2       album          1.0           1.0     193544.0      True        39.0
3      single          1.0           2.0     169000.0      True        47.0
4       album          1.0           8.0     194779.0      True        41.0

    id_album                                             lyrics  \
0  ALB115557  Oplà, ah\nBdope, chiama due b—\n\nMi candidere...
1  ALB115557  Greg Willen, non dormire\n(Brr-poh)\n\nT-T-Tro...
2  ALB115557  Mothz\nYeah, yeah, yeah-yeah\nBdope, chiama du...
3  ALB730959  Designer sui vestiti penso di essere un outlet...
4  ALB436151  Bdope (Yeah)\n\nVuole solo me, non fare la gel...

   streams@1month
0        186522.0
1        194313.0
2         63750.0
3         41473.0
4         30553.0

[5 rows x 37 columns]

In [13]:
df_tracks.shape

(11166, 37)

In [49]:
df_tracks.describe()

,swear_IT,swear_EN,year,month,day,n_sentences,n_tokens,char_per_tok,avg_token_per_clause,bpm,...,rms,flatness,spectral_complexity,pitch,loudness,disc_number,track_number,duration_ms,popularity,streams@1month
count,11166.000000,11166.000000,10722.000000,9969.000000,9843.000000,11090.000000,11090.000000,11090.000000,11090.000000,11102.000000,...,11102.000000,11102.000000,11102.000000,11102.000000,11102.000000,11088.000000,11088.000000,1.108800e+04,11088.000000,1.116600e+04
mean,2.343006,0.711177,2015.135796,6.198515,15.808697,59.399639,496.891253,4.054416,8.002009,114.134841,...,0.223965,0.859986,27.410247,2256.028782,24.226955,1.016685,6.859127,2.035293e+05,32.656295,1.821737e+04
std,3.704831,2.555423,7.022598,3.482992,8.881989,24.711996,209.187612,0.445958,14.577876,26.827124,...,0.064592,0.109106,8.441590,382.134853,8.648780,0.138903,5.191472,8.825641e+04,19.781473,3.903201e+04
min,0.000000,0.000000,1992.000000,1.000000,1.000000,1.000000,3.000000,2.000000,0.000000,59.970000,...,0.000000,0.109400,0.000000,0.000000,0.000000,1.000000,1.000000,1.142600e+04,0.000000,4.011000e+03
25%,0.000000,0.000000,2011.000000,3.000000,9.000000,46.000000,372.000000,3.866946,5.859020,91.910000,...,0.186225,0.841400,21.881750,2003.341325,18.779500,1.000000,2.000000,1.701310e+05,16.000000,4.835000e+03
50%,1.000000,0.000000,2016.000000,6.000000,16.000000,58.000000,491.000000,4.012709,6.764171,106.975000,...,0.229700,0.882450,27.330850,2241.157450,24.666850,1.000000,6.000000,1.966725e+05,32.000000,5.644500e+03
75%,3.000000,0.000000,2021.000000,10.000000,23.000000,73.000000,615.000000,4.168686,8.090909,134.650000,...,0.267600,0.913075,32.978475,2493.492250,30.010175,1.000000,10.000000,2.271840e+05,47.000000,1.423925e+04
max,72.000000,72.000000,2025.000000,12.000000,31.000000,437.000000,3089.000000,12.000000,660.000000,738.270000,...,0.621900,1.000000,61.222500,3993.020300,81.947800,5.000000,54.000000,3.753057e+06,100.000000,1.501925e+06

In [8]:
df_tracks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11166 entries, 0 to 11165
Data columns (total 37 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    11166 non-null  object
 1   id_artist             11166 non-null  object
 2   title                 11166 non-null  object
 3   featured_artists      3517 non-null   object
 4   primary_artist        11166 non-null  object
 5   language              11061 non-null  object
 6   album                 9652 non-null   object
 7   swear_IT              11166 non-null  int64
 8   swear_EN              11166 non-null  int64
 9   swear_IT_words        11166 non-null  object
 10  swear_EN_words        11166 non-null  object
 11  year                  10722 non-null  float64
 12  month                 9969 non-null   float64
 13  day                   9843 non-null   float64
 14  n_sentences           11090 non-null  float64
 15  n_tokens              11090 non-null  float64
 16  char_per_tok          11090 non-null  float64
 17  avg_token_per_clause  11090 non-null  float64
 18  bpm                   11102 non-null  float64
 19  rolloff               11102 non-null  float64
 20  flux                  11102 non-null  float64
 21  rms                   11102 non-null  float64
 22  flatness              11102 non-null  float64
 23  spectral_complexity   11102 non-null  float64
 24  pitch                 11102 non-null  float64
 25  loudness              11102 non-null  float64
 26  album_name            11088 non-null  object
 27  album_release_date    11088 non-null  object
 28  album_type            11088 non-null  object
 29  disc_number           11088 non-null  float64
 30  track_number          11088 non-null  float64
 31  duration_ms           11088 non-null  float64
 32  explicit              11088 non-null  object
 33  popularity            11088 non-null  float64
 34  id_album              11088 non-null  object
 35  lyrics                11163 non-null  object
 36  streams@1month        11166 non-null  float64
dtypes: float64(20), int64(2), object(15)
memory usage: 3.2+ MB

In [ ]:
missing_counts = df_tracks.isnull().sum() 
print(missing_counts[missing_counts > 0])
#28 columns out of 37

featured_artists        7649
language                 105
album                   1514
year                     444
month                   1197
day                     1323
n_sentences               76
n_tokens                  76
char_per_tok              76
avg_token_per_clause      76
bpm                       64
rolloff                   64
flux                      64
rms                       64
flatness                  64
spectral_complexity       64
pitch                     64
loudness                  64
album_name                78
album_release_date        78
album_type                78
disc_number               78
track_number              78
duration_ms               78
explicit                  78
popularity                78
id_album                  78
lyrics                     3
dtype: int64

In [37]:
print(missing_counts[missing_counts == 0])

id                0
id_artist         0
title             0
primary_artist    0
swear_IT          0
swear_EN          0
swear_IT_words    0
swear_EN_words    0
streams@1month    0
dtype: int64

In [42]:
df_tracks[df_tracks['album'] != df_tracks['album_name']][['id','album','album_name','primary_artist','language']]

,id,album,album_name,primary_artist,language
3,TR480968,OKAY OKAY !! - EP,OKAY OKAY 2,Rosa Chemical,it
4,TR585039,FOREVER AND EVER,FOREVER,Rosa Chemical,en
5,TR550335,FOREVER AND EVER,FOREVER,Rosa Chemical,it
6,TR170793,FOREVER AND EVER,FOREVER,Rosa Chemical,it
7,TR627195,FOREVER AND EVER,FOREVER,Rosa Chemical,en
...,...,...,...,...,...
11161,TR434449,Badabum Cha Cha (The Remixes),Che Ne Sanno I 2000 (feat. Danti),Marracash,it
11162,TR826351,Senza Un Posto Nel Mondo – Single,Status,Marracash,it
11163,TR529809,Badabum Cha Cha (The Remixes),Che Ne Sanno I 2000 (feat. Danti),Marracash,it
11164,TR280904,NaN,Status,Marracash,it
11165,TR552777,NaN,Fino A Qui Tutto Bene,Marracash,it

In [21]:
unique_artists_list = df_tracks['primary_artist'].dropna().unique().tolist()
print(len(unique_artists_list))
unique_artists_list

104

['Rosa Chemical',
 'Beba',
 'Alfa',
 'thasup',
 'Yung Snapp',
 'Lazza',
 'Nerone',
 'Babaman',
 'Niky Savage',
 'Guè',
 'Mudimbi',
 'Roshelle',
 'Capo Plaza',
 'Massimo Pericolo',
 'Skioffi',
 'Mahmood',
 'Piotta',
 'Chadia',
 'Clementino',
 'Club Dogo',
 'La Pina',
 'Hindaco',
 'Fabri Fibra',
 'Rocco Hunt',
 'Miss Simpatia',
 'Mistaman',
 'Inoki',
 'Eva Rea',
 '’O Zulù',
 'Jake La Furia',
 'Doll Kill',
 'YEИDRY',
 'Johnny Marsiglia',
 'Rose Villain',
 'Rondodasosa',
 'Sfera Ebbasta',
 'Ghemon',
 'Articolo 31',
 'Neffa',
 'Frankie hi-nrg mc',
 'Tedua',
 'Caparezza',
 'Tony Effe',
 'Bassi Maestro',
 'Ghali',
 'Ensi',
 'Mistico',
 'Madame',
 'Vacca',
 'Il Tre',
 'M¥SS KETA',
 'Luchè',
 'Baby K',
 'Dargen D’Amico',
 'Hell Raton',
 'Geolier',
 'Shade',
 'Emis Killa',
 'Bushwaka',
 'J-Ax',
 'Willie Peyote',
 '99 Posse',
 'Entics',
 'BigMama',
 'Ernia',
 'Don Joe',
 'Nesli',
 'MamboLosco',
 'Frah Quintale',
 'Mr.Rain',
 'Gemitaiz',
 'DrefGold',
 'Slait',
 'Tony Boy',
 'Brusco',
 'Noyz Narcos',
 'Jack The Smoker',
 'Coez',
 'Shablo',
 'MadMan',
 'Achille Lauro',
 'Rkomi',
 'Cor Veleno',
 'Highsnob',
 'Rancore',
 'Dark Polo Gang',
 'Colle Der Fomento',
 'Sottotono',
 'Grido',
 'ANNA',
 'Papa V',
 'Samuel Costa',
 'Dani Faiv',
 'Salmo',
 'Joey (ITA)',
 'Priestess',
 'Tormento',
 'Nitro',
 'Shiva',
 'Caneda',
 'Mondo Marcio',
 'Fred De Palma',
 'Fedez',
 'Marracash']

In [ ]:
df_tracks['album'][0] #'FOREVER AND EVER'
df_tracks['album_name'][0] #'FOREVER AND EVER'
df_tracks['id_album'][0] #'ALB115557'

'ALB115557'

In [36]:
# Assuming df_tracks is loaded and contains 'artist' and 'album_name' columns.

print("\n--- Album Count per Unique Artist Analysis ---")

# 1. Clean the 'artist' column first: Drop rows where 'artist' or 'album_name' is missing.
# This ensures we only count albums where both pieces of information are known.
# We also use .copy() to avoid SettingWithCopyWarning, a common Pandas warning.
df_clean = df_tracks.dropna(subset=['primary_artist', 'id_album']).copy()

# 2. Group the data by 'artist' and then count the unique 'album_name' values.
# The 'groupby()' method groups all rows by the unique values in 'artist'.
# The .nunique() method is then applied to the 'album_name' column within each group.
artist_album_counts = df_clean.groupby('primary_artist')['id_album'].nunique()

# 3. Convert the result to a DataFrame and rename the count column for clarity.
artist_album_df = artist_album_counts.reset_index(name='unique_album_count')

# 4. Sort the results to easily see the most prolific artists.
artist_album_df = artist_album_df.sort_values(by='unique_album_count', ascending=False)


# --- 5. Display the results ---
print("\nResults: Number of Unique Albums per Artist")

# Print the resulting DataFrame
print(artist_album_df)

# --- Summary Note ---
print(f"\nNote: The analysis was performed on {len(df_clean)} tracks where both 'artist' and 'album_name' were present.")

--- Album Count per Unique Artist Analysis ---

Results: Number of Unique Albums per Artist
    primary_artist  unique_album_count
12          Caneda                 126
36        Gemitaiz                  91
55          MadMan                  73
41             Guè                  68
43        Highsnob                  67
..             ...                 ...
50      Joey (ITA)                   3
44         Hindaco                   3
61   Miss Simpatia                   3
102        ’O Zulù                   2
63         Mistico                   1

[103 rows x 2 columns]

Note: The analysis was performed on 11088 tracks where both 'artist' and 'album_name' were present.

In [33]:
df_tracks[df_tracks['primary_artist'] == 'Caneda']

,id,id_artist,title,featured_artists,primary_artist,language,album,swear_IT,swear_EN,swear_IT_words,...,album_release_date,album_type,disc_number,track_number,duration_ms,explicit,popularity,id_album,lyrics,streams@1month
10160,TR303768,ART28846313,Seven,"J-Ax, Fedez, Baby K, Rocco Hunt, Emis Killa, G...",Caneda,en,NaN,8,1,"['cazzo', 'figa', 'mazzo', 'troia']",...,2018-02-19,single,1.0,1.0,358260.0,False,27.0,ALB933808,Rocco Hunt – Superbia\nJ-Ax – Gola\nBaby K – L...,14608.0
10161,TR251553,ART28846313,Unpodi,NaN,Caneda,pl,Mozart Nella Giungla Mixtape,72,0,['figa'],...,2016-04-27,single,1.0,1.0,179076.0,True,22.0,ALB702445,Un po' di figa un po' di figa un po' di figa\n...,5396.0
10162,TR368157,ART28846313,Banditi,Gemitaiz,Caneda,it,NaN,1,0,['grilletto'],...,2018-03-14,single,1.0,1.0,199500.0,False,15.0,ALB416665,"Prodotto da Placco, il brano vede la partecipa...",4961.0
10163,TR504051,ART28846313,Samurai,NaN,Caneda,it,Mozart Nella Giungla Mixtape,0,0,[],...,2016-02-17,album,1.0,1.0,200807.0,False,8.0,ALB407931,Resta freddo davanti all'odio anche se il cuor...,4798.0
10164,TR162842,ART28846313,Angeli da bar,NaN,Caneda,it,La dolce vita,1,0,['scopare'],...,2014-05-30,album,1.0,4.0,264521.0,True,12.0,ALB845380,"Bambina, non smettere\nAnche se il mondo ti ha...",5849.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10339,TR318448,ART28846313,Roby Esce A Maggio,NaN,Caneda,it,NaN,0,0,[],...,2024-01-12,single,1.0,1.0,174560.0,True,0.0,ALB276907,Quando leggo le tue lettere\nSento la tua voce...,5732.0
10340,TR677212,ART28846313,Musica,NaN,Caneda,it,NaN,0,0,[],...,2020-10-23,compilation,1.0,2.0,91466.0,False,24.0,ALB437567,A me la musica mi fa volare\nA me la musica mi...,4265.0
10341,TR361351,ART28846313,Madre In Italy,NaN,Caneda,it,NaN,0,0,[],...,2021-05-04,single,1.0,1.0,205106.0,True,63.0,ALB847436,"Ah\n\nCapelli lunghi\nSogni, funghi\nTu i sold...",5147.0
10342,TR393891,ART28846313,Metalneda,NaN,Caneda,it,NaN,0,0,[],...,2018-10-12,single,1.0,1.0,239201.0,False,14.0,ALB662951,Oh sì\n\nDalla cameretta (Oh sì)\nDalla camere...,4296.0
10343,TR426625,ART28846313,Tekila,NaN,Caneda,pl,NaN,0,0,[],...,2019-04-27,single,1.0,1.0,154566.0,False,0.0,ALB561886,Bum bum bum Bum bum bum Bum bum bum Bum bum bu...,5421.0

In [ ]:
df_tracks['lyrics'][0]

'Oplà, ah\nBdope, chiama due b—\n\nMi candiderei come presidente\nNascevo in America, ero Franco West (Ah-ah)\nRosa è il sesso come un ditalino\nQuesta si fa il tipo mentre pensa a me (Ah-ah)\nTutto duro come un palo (La)\nChiede a cosa penso mentre chiavo (La)\nPenso a Pupo con due fiche in mano (La)\nSono così fiero di essere italiano (Uh)\nEsce il tuo singolo e ronf (Ronf)\nSei la strada, the real Tom (Tom)\nDice che vuole il ragazzo sporco (Ah)\nLa sbatto col cazzo che sa di tonno (Ah)\nPesto merda, penso: "Vedi? (Ecco)\nAnche oggi un nemico tra i piedi" (Che cazzo)\nEntro in ufficio coi debiti\nEsco e non so come spenderli (Tu-tu)\nFanculo Marco Mengo**, fuck (Fuck)\nMi sta sui coglioni la scena rap (Sulla minchia)\nA saperlo prima di fare trap (Ah)\nRestavo in cantina a fumare cra**\nIl-Il più politically scorretto (Yeah)\nLe ho lasciato minchia sopra il rossetto (Proprio io)\nChe asciugo che mi fai sentire il pezzo (Che palle)\nNel prossimo zitto che suona meglio\nAh, shazammo mentre sto cagando\nEsce l\'ultimo pezzo di — (Dai)\nAnche quest\'anno è il tuo anno, bravo (Bravo)\nAspetta che parte l\'applauso (Bravissimo)\nPiù italiano dell\'Italia stessa (L\'Italia)\nPiù ceco di Russia, Slovacchia e Cechia (Shlet)\nFossi un falegname con moglie (Shlet)\nLo stesso mi fotte una se** (Yeh-ah)\n\nSono duro come se mi chiamassi\nYuri o Nicolaj (Pre, Nicolaj), na zdrowie (Pre-pre-pre)\nCon quella faccia da schiaffi dove vai? (Dove vai?)\nBevo la vodka (Ehi), ballo la polka (Ehi)\nBevo la vodka, guardami, ballo la polka (Ehi)\nBevo la vodka, guardami, ballo la polka (Ballo la polka)\nBevo la vodka, guardami, ballo la polka (Yeh, yeh)\nBevo la vodka, guardami, ballo la polka (Tu-tu-ru-tu)\n\nMhm, guarda che porca (Mhm)\nBacio mami, che guapa (Muah)\nBaciamani a Guè Papa (Ah-ah)\nVuole che l\'apra da pa\' (Uh-uh-uh)\nArrivo in gola alla iatro\nCome un oto-laringoiatra (Splash)\nPSG, Paris Saint Germain\nPSC, pippotto sul ca\' (Uoh)\nStai con un cesso che fa selfie al cesso (Ah)\nTi suonerei come un synth, uh\nPassion fru\', ai rapper piscio in cu\'\nE, frate\', sono un hustler come Larry Flynt (Yeah)\nCocainum come Danko (Ah)\nStendo, stando, spendo e spando (Ah)\nA \'sti babbi di minchia tolgo le catene alla Django\nKing of the jungle\nDa quanto schifo fai\nSpotify mi dovrebbe un bel risarcimento (Seh-seh)\nScappo che ho finito il tempo\nHo un importantissimo apputtanamento (Ahah)\nSiete dei peluches, io sono Jim Belushi (Ah)\nLei miss Bielorussia cola miele in pussy (Mhm)\nPer la gafi resto in zona rosa sempre (Seh)\nPer i soldi passo in zona verde, bitch (Seh)\n\nLa sua figa sa del mio cazzo\nFrate\', come il vino quando sa di tappo\nLa pussy non la vedi manco\nFra\', un pelo se è tanto, come i porno giappo\' (Ahahah)\nFanno i fighi solo coi compari (Sì)\nPerché in branco stanno solo i cani (Sì)\n"Quanto scopa Ernia" sopra la Treccani\nSta sotto la voce "proverbi italiani"\nNon andavo a scuola, ma alla nave scuola\nÈ lì che io mi divertivo\nIl tuo disco, Dio mio che fastidio\nMi chiedo perché tu non abbia un sussidio (Ahahahahah)\nCambio in ogni pezzo, che impressione\nSembra che c\'ho dentro due persone\nLei è fan di ogni mia canzone\nLe dedico "Acqua Calda Col Ciddone"\nRoba da manette, due tette perfette\nCapezzoli duri, pistacchio di Bronte\nChiederò ai rapper come ci si sente\nAd avere per sempre questo cazzo in fronte (Seh)\nOra divertitevi voi stronzi\nQuando torno poi facciamo i conti\nTi tappo la bocca con quei finti soldi\nStai fermo a guardare perché mi cuckoldi (Stronzo)\n\nSono duro come se mi chiamassi\nYuri o Nicolaj (Pre, Nicolaj), na zdrowie (Pre-pre-pre)\nCon quella faccia da schiaffi dove vai? (Dove vai?)\nBevo la vodka (Ehi), ballo la polka (Ehi)\nBevo la vodka, guardami, ballo la polka (Ehi)\nBevo la vodka, guardami, ballo la polka (Ballo la polka)\nBevo la vodka, guardami, ballo la polka (Yeh, yeh)\nBevo la vodka, guardami, ballo la polka (Tu-tu-ru-tu)'

In [ ]:
df_tracks['swear_EN_words'][0]

"['bitch', 'fuck', 'porno', 'pussy']"

In [43]:
import xml.etree.ElementTree as ET
import csv

# Load and parse the XML file
tree = ET.parse('artists.xml')
root = tree.getroot()

# Extract all rows
rows = root.findall('row')

# Get all unique tags from the first row (assuming all rows have same structure)
headers = [elem.tag for elem in rows[0]]

# Write to CSV
with open('output2.csv', 'w', newline='', encoding='utf-8') as f:
    writer = csv.writer(f)
    writer.writerow(headers)  # write header

    for row in rows:
        writer.writerow([row.find(tag).text if row.find(tag) is not None else '' for tag in headers])

print("XML data has been successfully converted to output2.csv.")

XML data has been successfully converted to output2.csv.

In [44]:
df_artists = pd.read_csv('output2.csv')
df_artists.head()

,id_author,name,gender,birth_date,birth_place,nationality,description,active_start,active_end,province,region,country,latitude,longitude
0,ART82291002,99 posse,M,NaN,NaN,NaN,gruppo musicale italiano,1991-01-01,NaN,NaN,NaN,NaN,NaN,NaN
1,ART53496045,achille lauro,M,1990-07-11,Verona,Italia,cantautore e rapper italiano (1990-),2012-01-01,NaN,Verona,Veneto,Italia,45.442498,10.985738
2,ART18853907,alfa,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ART64265460,anna pepe,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ART75741740,articolo 31,M,NaN,NaN,NaN,gruppo musicale hip hop italiano,1990-01-01,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
df_artists.shape

(104, 14)

In [47]:
df_artists.describe()

       active_end   latitude  longitude
count         0.0  72.000000  72.000000
mean          NaN  43.591374  11.060876
std           NaN   2.248674   2.591871
min           NaN  37.747452   7.525403
25%           NaN  41.577547   9.189635
50%           NaN  45.067755   9.917118
75%           NaN  45.464194  12.482932
max           NaN  45.806691  18.225226

In [46]:
df_artists.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_author     104 non-null    object
 1   name          104 non-null    object
 2   gender        104 non-null    object
 3   birth_date    73 non-null     object
 4   birth_place   72 non-null     object
 5   nationality   71 non-null     object
 6   description   86 non-null     object
 7   active_start  50 non-null     object
 8   active_end    0 non-null      float64
 9   province      70 non-null     object
 10  region        68 non-null     object
 11  country       70 non-null     object
 12  latitude      72 non-null     float64
 13  longitude     72 non-null     float64
dtypes: float64(3), object(11)
memory usage: 11.5+ KB

In [64]:
counting=df_artists['id_author'].dropna().unique().tolist()
len(counting)
counting1=df_artists['name'].dropna().unique().tolist()
len(counting1)

104

In [ ]:
missing_counts = df_artists.isnull().sum()
print(missing_counts[missing_counts > 0])
#11 coulmns out of 14 have missing values

birth_date       31
birth_place      32
nationality      33
description      18
active_start     54
active_end      104
province         34
region           36
country          34
latitude         32
longitude        32
dtype: int64

In [ ]:
df_artists[df_artists['active_end'].isna()] #all NaN value for active end

In [ ]:
#notice that the number of null in 'birth_place', 'latitude', 'longitude' is 32 => we can retrive birth_place from geographical info
#'province', 'country', 'region', 'nationality' have a higher number of nan

In [ ]:
df_artists[df_artists['region'].isna()][['name','birth_date','birth_place', 'nationality', 'province', 'region', 'country',	'latitude',	'longitude']]

,name,birth_date,birth_place,nationality,province,region,country,latitude,longitude
0,99 posse,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,alfa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,anna pepe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,articolo 31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,baby k,1983-02-05,Singapore,Italia,NaN,NaN,NaN,45.080627,7.670717
8,beba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,bigmama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,brusco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,bushwaka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,caneda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,club dogo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,colle der fomento,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,cor veleno,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,dargen d_amico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,dark polo gang,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,doll kill,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,eva rea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,fabri fibra,1976-10-17,Senigallia,Italia,Ancona,NaN,Italia,43.714952,13.217949
42,guè pequeno,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,hindaco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,joey funboy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,johnny marsiglia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,mike24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,miss keta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,miss simpatia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,mistico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,nerone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,nesli,1980-12-29,Senigallia,Italia,Ancona,NaN,Italia,43.714952,13.217949
75,o zulù,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,priestess,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,samuel heron,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,shablo,1980-11-17,Buenos Aires,Argentina,NaN,NaN,NaN,44.803741,10.143004
91,shiva,http://www.wikidata.org/.well-known/genid/4111...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,skioffi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,sottotono,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,yeиdry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_artists.iloc[32]
df_artists.iloc[71]
#can we manually add region= 'marche'? we know they both are from senigallia (they are brother)

id_author                                             ART07629990
name                                                        nesli
gender                                                          M
birth_date                                             1980-12-29
birth_place                                            Senigallia
nationality                                                Italia
description     cantautore, rapper e produttore discografico i...
active_start                                           1990-01-01
active_end                                                    NaN
province                                                   Ancona
region                                                        NaN
country                                                    Italia
latitude                                                43.714952
longitude                                               13.217949
Name: 71, dtype: object

In [69]:
df_artists.iloc[100]

id_author           ART15560128
name                      vacca
gender                        M
birth_date           1979-10-21
birth_place            Cagliari
nationality              Italia
description     rapper italiano
active_start         2001-01-01
active_end                  NaN
province               Cagliari
region                 Sardegna
country                  Italia
latitude              39.217199
longitude              9.113311
Name: 100, dtype: object

In [ ]:
print(df_artists['nationality'].unique())
print(f"Number of distinct nationality: {df_artists['nationality'].nunique()}")
print(df_artists['nationality'].value_counts())

In [ ]:
df_artists[df_artists['nationality']=='Argentina']
df_tracks[df_tracks["id_artist"] == "ART82291002"]

,id_author,name,gender,birth_date,birth_place,nationality,description,active_start,active_end,province,region,country,latitude,longitude
89,ART98307962,shablo,M,1980-11-17,Buenos Aires,Argentina,disc jockey e produttore discografico italo-ar...,NaN,NaN,NaN,NaN,NaN,44.803741,10.143004